backend/credentials.json
backend/credentials.json
*.pack

# --- BACKEND IGNORES ---
backend/credentials.json
backend/__pycache__/
backend/debug_images/
backend/ocr_agent_lokal/

# --- FRONTEND IGNORES ---
frontend/node_modules/
frontend/.env
backend/.env
**/serviceAccountKey.json
**/*firebase-adminsdk*.json
backend/.test-deps/
